/* Lexical Editor Styles */
.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 1rem;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 10px;
  caret-color: hsl(var(--foreground));
}

.editor-placeholder {
  color: hsl(var(--muted-foreground));
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}