/* === FONT STYLE: NORMAL === */

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-thin.woff2') format('woff2'),
url('/fonts/nacelle-thin.woff') format('woff');
font-weight: 100; /* Thin */
font-style: normal;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-ultralight.woff2') format('woff2'),
url('/fonts/nacelle-ultralight.woff') format('woff');
font-weight: 200; /* Ultra Light */
font-style: normal;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-light.woff2') format('woff2'),
url('/fonts/nacelle-light.woff') format('woff');
font-weight: 300; /* Light */
font-style: normal;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-regular.woff2') format('woff2'),
url('/fonts/nacelle-regular.woff') format('woff');
font-weight: 400; /* Regular */
font-style: normal;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-semibold.woff2') format('woff2'),
url('/fonts/nacelle-semibold.woff') format('woff');
font-weight: 600; /* Semibold */
font-style: normal;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-bold.woff2') format('woff2'),
url('/fonts/nacelle-bold.woff') format('woff');
font-weight: 700; /* Bold */
font-style: normal;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-heavy.woff2') format('woff2'),
url('/fonts/nacelle-heavy.woff') format('woff');
font-weight: 800; /* Heavy */
font-style: normal;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-black.woff2') format('woff2'),
url('/fonts/nacelle-black.woff') format('woff');
font-weight: 900; /* Black */
font-style: normal;
}

/* === FONT STYLE: ITALIC === */

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-thinitalic.woff2') format('woff2'),
url('/fonts/nacelle-thinitalic.woff') format('woff');
font-weight: 100; /* Thin */
font-style: italic;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-ultralightitalic.woff2') format('woff2'),
url('/fonts/nacelle-ultralightitalic.woff') format('woff');
font-weight: 200; /* Ultra Light */
font-style: italic;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-lightitalic.woff2') format('woff2'),
url('/fonts/nacelle-lightitalic.woff') format('woff');
font-weight: 300; /* Light */
font-style: italic;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-italic.woff2') format('woff2'),
url('/fonts/nacelle-italic.woff') format('woff');
font-weight: 400; /* Regular */
font-style: italic;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-semibolditalic.woff2') format('woff2'),
url('/fonts/nacelle-semibolditalic.woff') format('woff');
font-weight: 600; /* Semibold */
font-style: italic;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-bolditalic.woff2') format('woff2'),
url('/fonts/nacelle-bolditalic.woff') format('woff');
font-weight: 700; /* Bold */
font-style: italic;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-heavyitalic.woff2') format('woff2'),
url('/fonts/nacelle-heavyitalic.woff') format('woff');
font-weight: 800; /* Heavy */
font-style: italic;
}

@font-face {
font-family: 'Nacelle';
src: url('/fonts/nacelle-blackitalic.woff2') format('woff2'),
url('/fonts/nacelle-blackitalic.woff') format('woff');
font-weight: 900; /* Black */
font-style: italic;
}